
body{
    background-color: #33496b;
}



p {
    color: white;
    font-size: 200px;
    font-family: "Arial Black";

    left: 0;
    line-height: 200px;
    margin-top: -200px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
